# Gradle wrapper distribution
gradle/wrapper/gradle-8.13-all.zip

# Build outputs
*.apk

# Fastlane screenshots
fastlane/metadata/android/en-US/images/

# Room schemas
app/schemas/

# --- 原有标准规则 ---
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
